//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

// Zona de pesquisa direta.
zone "${dns.domain}" {
  type master;
  file "/etc/bind/${dns.domain.split('.')[0]}/db.${dns.domain}";
};

// Zona de pesquisa reversa.
zone "${ip.address.split('.')[2]}.${ip.address.split('.')[1]}.${ip.address.split('.')[0]}.in-addr-arpa" {
  type master;
  file "/etc/bind/${dns.domain.split('.')[0]}/db.${dns.reverse}";
};


